@use '../../../styles/variables' as *;

.underline-info {
  height: 19px;
  text-decoration: underline;
  color: $color-secondary;

  &_margin-top-1 {
    margin-top: 5px;
  }

  &_margin-top-2 {
    margin-top: 10px;
  }

  &_margin-top-3 {
    margin-top: 30px;
  }
}