// colors
$color-title: #fff;
$color-outline: #b5b5b5;
$color-card: #f4f4f4;
$color-secondary: #999;

// fonts
$font-primary: 'Open Sans', sans-serif;

// font-weight
$font-normal: 400;
$font-semi-bold: 600;
$font-bold: 800;