@use './variables' as *;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-primary;
  font-size: 14px;
}

.inner-link {
  text-decoration: none;
}