.header {
  background: no-repeat center/cover url("../../assets/images/booksGray.png");
  min-height: 260px;
}

.header__container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px;
}